<div class="body">
  <div class="row pt-5">
    <br>
    <div class=" col-md-7 mx-4">

      <div class="table-responsive">

        <table class="table table-bordered">

          <thead class="">
            <tr>

              <th scope="col">Full Name</th>
              <th scope="col">Email</th>
              <th scope="col">Leave Type</th>
              <th scope="col">Start Date</th>
              <th scope="col">Leave Days</th>
              <th scope="col">Approve / Reject</th>


            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of Users">

              <td>{{user?.name}}</td>
              <td>{{user?.email}}</td>
              <td>{{user?.leaveType}}</td>
              <td>{{user?.startingDate}}</td>
              <td>{{user?.days}}</td>
              <td>
                <div class="btn-group">
                  <button type="button" id="apprBtn"  class="btn btn-success" value="APPROVED"
                    (click)="getApproveValue(user)">Approved</button>

                  <button type="button" id="rejBtn" class="btn btn-warning" value="REJECTED"
                    (click)="getRejectValue(user)">Rejected</button>
                </div>
              </td>


            </tr>
          </tbody>



        </table>
      </div>
    </div>
  </div>
</div>