.body{
    background-image: url("../../../assets/black.jpeg");
    
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}
td{
    color: beige;
    font-size: 15px;
    font-family: sans-serif;
}
thead{
    color: beige;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

