<div class="py-5">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->

      <div class="card rounded-0">
        <div class="card-header">
          <h2 class="mb-0">Login</h2>
        </div>

        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <!-- add selector dropdown for user type  -->

              <!-- on click, check type of user and set isLoginUserOrAdmin flag variable to true or false -->

              <label for="uname1">Username</label>

              <input type="text" class="form-control rounded-0" [(ngModel)]="loginUserData.email" name="email"
                required />
            </div>

            <div class="form-group">
              <label>Password</label>

              <input type="password" class="form-control rounded-0" [(ngModel)]="loginUserData.password" name="password"
                required />
            </div>

            <form [formGroup]="form">
              <div class="form-group row">
                <div class="row mb-4">
                  &emsp;

                  <div class="radiobtn">
                    <div class="col">
                      <input id="admin" type="radio" value="false" name="user" formControlName="user"
                        (click)="changeUser(false)" />

                      <label for="admin">Admin</label>

                      <input id="employee" type="radio" value="true" name="user" formControlName="user"
                        (click)="changeUser(true)" />

                      <label for="employee"> Employee</label>
                    </div>


                    
                  </div>
                </div>



                <div *ngIf="f.user.touched && f.user.invalid" class="alert alert-danger">
                  <div *ngIf="f.user.errors.required">
                    User Type is Required.
                  </div>
                </div>
              </div>
            </form>

            <button type="button" (click)="loginUserOrAdmin()" class="btn btn-secondary btn-block btn-lg float-right">
              Login
            </button>
          </form>
        </div>

        <!--/card-block-->
      </div>

      <!-- /form card login -->
    </div>
  </div>
</div>