<div class="py-5">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->

      <div class="card rounded-0">
        <div class="card-header">
          <h2 class="mb-0">Login</h2>
        </div>

        <div class="card-body">
          <form class="form" name="loginForm" [formGroup]="emailAndPassword">
            <div class="form-group">

              <label for="uname1">Email</label>

              <input [class.is-invalid]="emailAndPassword.get('email').invalid && emailAndPassword.get('email').touched"
                type="email" class="form-control rounded-0" [(ngModel)]="loginUserData.email" name="email"
                formControlName="email" required />

              <div *ngIf="(email.invalid && email.touched) || email.dirty">
                <small *ngIf="email.errors?.required" class="text-danger"> Email is required</small>
                <!-- question mark(?) is a safe navigation operator -->
                <small *ngIf="email.errors?.pattern" class="text-danger">Please provide a valid email address</small>
              </div>
            </div>




            <div class="form-group">
              <label>Password</label>

              <input
                [class.is-invalid]="emailAndPassword.get('password').invalid && emailAndPassword.get('password').touched"
                type="password" class="form-control rounded-0" [(ngModel)]="loginUserData.password" name="password"
                formControlName="password" required />

              <div *ngIf="(password.invalid && password.touched) || password.dirty">
                <small *ngIf="password.errors?.required" class="text-danger"> password is required</small>

                <small *ngIf="password.errors?.pattern" class="text-danger">Please provide a valid password</small>
              </div>
            </div>

            <form [formGroup]="form">
              <div class="form-group row">
                <div class="row mb-4">
                  &emsp;

                  <div class="radiobtn">
                    <div class="col">
                      <input id="admin" type="radio" value="false" name="user" formControlName="user"
                        (click)="changeUser(false)" />

                      <label for="admin">Admin</label>

                      <input id="employee" type="radio" value="true" name="user" formControlName="user"
                        (click)="changeUser(true)" />

                      <label for="employee"> Employee</label>
                    </div>



                  </div>
                </div>




              </div>
            </form>

            <button type="button" (click)="loginUserOrAdmin()" class="btn btn-secondary btn-block btn-lg float-right">
              Login
            </button>
          </form>
        </div>

        <!--/card-block-->
      </div>

      <!-- /form card login -->
    </div>
  </div>
</div>