<div class="body">
  <div class="row pt-5">
    <br>
    <div class=" col-md-7 mx-4">
      <table class="table table-bordered ">
        <thead >
          <tr>
            
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
          
          </tr>
        </thead>
        <tbody>
         <tr *ngFor = "let user of Users">
           <td >{{user?.name}}</td>
           <td>{{user?.email}}</td>
         </tr>
        </tbody>
      </table>

      <button class="btn btn-primary" (click)="getAllUserData()">Refresh</button>
      
    </div>
  </div>
</div>
