<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Register</h3>
            </div>
            <div class="card-body">
                <form class="form" name="registerForm"  [formGroup]="emailAndPassword">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input [class.is-invalid]="emailAndPassword.get('name').invalid && emailAndPassword.get('name').touched"
                        type="text" class="form-control rounded-0" [(ngModel)]="registerUserData.name"
                        name="name" formControlName="name" required />

                        <div *ngIf="(name.touched)">
                            <small *ngIf="name.errors?.required" class="text-danger"> Name is required</small>
                           
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Email</label>
                        <input
                            [class.is-invalid]="emailAndPassword.get('email').invalid && emailAndPassword.get('email').touched"
                            type="email" class="form-control rounded-0" [(ngModel)]="registerUserData.email"
                            name="email" formControlName="email" required />

                        <div *ngIf="(email.invalid && email.touched) || email.dirty">
                            <small *ngIf="email.errors?.required" class="text-danger"> Email is required</small>
                            <!-- question mark(?) is a safe navigation operator -->
                            <small *ngIf="email.errors?.pattern" class="text-danger">Please provide a valid email
                                address</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input
                            [class.is-invalid]="emailAndPassword.get('password').invalid && emailAndPassword.get('password').touched"
                            type="password" class="form-control rounded-0" [(ngModel)]="registerUserData.password"
                            name="password" formControlName="password" required />

                        <div *ngIf="(password.invalid && password.touched) || password.dirty">
                            <small *ngIf="password.errors?.required" class="text-danger"> password is required</small>

                            <small *ngIf="password.errors?.pattern" class="text-danger">Please provide a valid
                                password</small>
                        </div>
                    </div>
                    <button (click)="registerUser()" type="button" class="btn btn-primary float-right">Register</button>
                </form>
            </div>
        </div>

    </div>
</div>